{% extends '_base.html' %}

{% block content %}
    <div class="row intro-contain">
        <div class="col-sm-8">
            <div class="intro">
                <h1>{{ COPY.content.project_name }}</h1>
                <p class="lead">{{ COPY.content.intro }}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="./assets/tiny-desk-poster.jpg">
        </div>
    </div>
    <div class="bands">
    {% for row in COPY.bands|shuffle()|batch(2) %}
        <div class="row band-pair">
            {% for column in row %}
                <div class="column col-md-6 clearfix">
                    <div class="col-sm-3 details">
                        <h2>{{ column.name }}</h2>
                        {% if column.site or column.facebook %}
                            <h4>
                                {% if column.site %}
                                    <a target="_blank" href="{{ column.site }}"><i class="fa fa-external-link-square"></i></a>
                                {% endif %}
                                {% if column.facebook %}
                                     <a target="_blank" href="{{ column.facebook }}"><i class="fa fa-facebook-square"></i></a>
                                {% endif %}
                            </h4>
                        {% endif %}
                        <button type="button" class="fave-button btn btn-lg btn-default"><i id="{{column.slug}}" class="fave fa fa-meh-o fa-2x"></i></button>

                    </div>
                    <div class="video-contain col-sm-9">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ column.video }}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
